@import 'tailwindcss';

@theme {
    --color-background: #0f0f0f;
    --color-surface: #1a1a1a;
    --color-surface-muted: #1f1f1f;
    --color-border: #2a2a2a;
    --color-primary: #6a44e5;
    --color-secondary: #7f5af0;
    --color-snow: #ffffff;
    --color-smoke: #9ca3af;
}

@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Geist';
    src: url('./assets/fonts/Geist/Geist-VariableFont_wght.ttf');
}